<div class="box">
    <h3>List of signers</h3>

<p>Here is a list of all the amazing people who signed this petition. If available you can also see information about age, city and a linked homepage.</p>

    <article class="signers">
        {{#each signers}}
            <p>
            {{#if url}}
                <a href={{url}}>{{first}} {{last}}</a>
            {{else}}
                {{first}} {{last}}
            {{/if}}
            {{age}} 
            {{#if city}}
                <a href="/signers/{{lower city}}">{{city}}</a>
            {{/if}}
            </p>
        {{/each}}
    </article>

    {{#if city}}
    <a href="/signers"><button>BACK</button></a>
    {{else}}
    <a href="/petition"><button>BACK</button></a>
    {{/if}}
</div>
