<h3>List of signers</h3>

<article>
    {{#each signers}}
        <p>
        {{#if url}}
            <a href={{url}}>{{first}} {{last}}</a>
        {{else}}
            {{first}} {{last}}
        {{/if}}
        {{age}} 
        {{#if city}}
            <a href="/signers/{{city}}">{{city}}</a>
        {{/if}}
        </p>
    {{/each}}
</article>

{{> logout}}
{{> edit}}

{{#if city}}
<a href="/signers"><button>BACK</button></a>
{{/if}}
