<h3>List of signers</h3>

<article>
    {{#each signers}}
        {{#if url}}
        <p><a href={{url}}>{{first}} {{last}}</a> {{age}} {{city}}</p>
        {{else}}
        <p>{{first}} {{last}} {{age}} {{city}}</p>
        {{/if}}
    {{/each}}
</article>

{{> logout}}
